{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Signup</title>
</head>

<body class="text-center">
    <form style="max-width: 600px;" method="post" action="{% url 'accounts:signup' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input name="username" type="username" class="form-control" placeholder="Enter Username" required>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input name="password1" type="password" class="form-control"
                placeholder="Enter Password" required>
        </div>
        <div class="form-group">
            <input name="password2" type="password" class="form-control"
                placeholder="Repeat Password" required>
        </div>

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
            <div class="col d-flex justify-content-center">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="form2Example31" required />
                    <label class="form-check-label" for="form2Example31">accept out terms</label>
                </div>
            </div>
        </div>

        <!-- Submit button -->
        <button type="submit" data-mdb-button-init data-mdb-ripple-init 
        class="btn btn-primary btn-block mb-4">Signup</button>
        </div>
    </form>
</body>

</html>